<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.project.mapper.CategoriesMapper">

    <select id="getAllCategories" resultType="project.project.model.Categories">
        SELECT * FROM categories;
    </select>

    <select id="findCategoryById" resultType="project.project.model.Categories" parameterType="java.lang.Integer">
        SELECT * FROM categories WHERE id= #{id}
    </select>

    <!-- 카테고리 이름 중복값 확인 -->
    <select id="countByName" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*) FROM categories WHERE category_name = #{category_name}
    </select>

    <insert id="insertCategory" parameterType="project.project.model.Categories">
        INSERT INTO categories (category_name) VALUES (#{category_name})
    </insert>

    <update id="updateCategory" parameterType="project.project.model.Categories">
        UPDATE categories SET category_name = #{category_name} WHERE id = #{id}
    </update>

    <delete id="deleteCategory" parameterType="java.lang.Integer">
        DELETE FROM categories WHERE id = #{id}
    </delete>

</mapper>