<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.project.mapper.StockMapper">

    <select id="getAllStock" resultType="project.project.model.Stock">
        SELECT * FROM stock;
    </select>

    <select id="findStockById" resultType="project.project.model.Stock" parameterType="java.lang.Integer">
        SELECT * FROM stock WHERE id= #{id}
    </select>

    <insert id="insertStock" parameterType="project.project.model.Stock">
        INSERT INTO stock (product_options_id, quantity) VALUES (#{productOptionsId}, #{quantity})
    </insert>

    <update id="updateStock" parameterType="project.project.model.Stock">
        UPDATE stock SET quantity = #{quantity} WHERE product_options_id = #{productOptionsId}
    </update>

    <delete id="deleteStockByProductOptionsId" parameterType="java.lang.Integer">
        DELETE FROM stock WHERE product_options_id = #{productOptionsId}
    </delete>

    <!-- 여러 개의 상품 옵션 ID에 해당하는 재고 삭제 -->
    <delete id="deleteStockByProductOptionsIds" parameterType="java.util.List">
        DELETE FROM stock WHERE product_options_id IN
        <foreach item="item" index="index" collection="productOptionsIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>